//Colors
$color-primary: #4a4e69;
$color-secondary: #f2e9e4;
$color-black: #333533;
$color-white: #f5edf0;
$color-gray: #c4c4c4;
$color-bluish: #d1ccdc;
$color-yellow: #f5cb5c;
$color-red: #f95738;
$color-brown: #c6ac8f;
$color-beige: #ffe6d9;
$color-opaquegreen: #e9f4f4;
