@import "./constants.scss";
@import "./mixins.scss";

.container {
  background-color: $color-primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    flex-direction: column;
    min-height: 10rem;
  }

  .copyright {
    font-family: Poppins;
    font-size: 1.4rem;
    color: $color-secondary;
    display: flex;
    flex: 1;
  }

  .emailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;

    .emailIcon {
      font-size: 2.4rem;
    }

    .email {
      font-family: Poppins;
      font-size: 1.4rem;
      color: $color-secondary;
      margin-left: 1rem;
      @include underline-on-hover($color-secondary);
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    .socialLink {
      &:not(:first-child) {
        margin-left: 1rem;
      }

      .socialIcon {
        font-size: 2.4rem;
        cursor: pointer;
      }
    }
  }
}
