@import "./constants.scss";

.container {
  background-color: $color-white;
  height: 100vh;
  width: 20rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $color-black;
    font-size: 1.8rem;
    width: 20rem;
    height: 8rem;
    padding: 2rem 0;
    transition: all 0.3s;
    text-align: center;

    &:hover {
      color: $color-white;
      background-color: $color-red;
      font-size: 2rem;
    }
  }
}
