@import "./constants.scss";
@import "./mixins.scss";

.container {
  background-color: $color-primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  position: fixed;
  margin-bottom: 5rem;
  z-index: 2;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    flex-direction: column;
    min-height: 12rem;
  }

  .name {
    flex: 1;
    color: $color-secondary;
    font-family: Satisfy;
    font-size: 3.6rem;
    cursor: pointer;
    margin: 0;
  }

  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .link {
      margin-left: 2rem;
      font-family: Poppins;
      font-size: 1.6rem;
      color: $color-secondary;
      @include underline-on-hover($color-secondary);
    }
  }
}
