@import "./constants.scss";

@mixin cardWithBgImage($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30rem;
  border-radius: 2.5rem;
  opacity: 0.8;
}

.container {
  flex: 1;
  justify-content: center;
  align-items: center;

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: Satisfy;
      font-size: 2.8rem;
      color: $color-primary;
      margin: 0;
    }

    p {
      font-family: Poppins;
      font-size: 1.6rem;
      line-height: 2.5rem;
      text-align: center;
      color: $color-primary;
    }
  }

  .cardsContainer {
    margin-top: 1rem;
    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      .bgImgProgramming {
        @include cardWithBgImage("../public/programming.jpg");
      }
      .bgImgPhotography {
        @include cardWithBgImage("../public/photography.jpg");
      }
      .bgImgDigitalArt {
        @include cardWithBgImage("../public/artwork.jpg");
      }
      .bgImgPoetry {
        @include cardWithBgImage("../public/poetry.jpg");
      }

      .title {
        font-family: Satisfy;
        font-size: 2.4rem;
        color: $color-primary;
        margin-top: 1rem;
      }
    }
  }
}
