@import "./constants.scss";
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  .content {
    flex: 1;
    padding: 2rem 10rem;
    background-color: $color-secondary;

    @media screen and (max-width: 768px) {
      padding: 2rem 3rem;
    }
  }
}
